.comment-respond,
.entry-comments,
.entry-pings {
	background-color: $comments-background-color;
	margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
	border: 1px solid $comment-border-color;
	padding: 20px 20px 0;

	@include media($small-screen-up) {
		padding: 40px 40px 16px;
	}
}

.comments-number {
	margin-bottom: 30px;
	text-align: center;

	@include media($small-screen-up) {
		text-align: right;
	}
}

.comment-container {
	background-color: $comment-background-color;
	border: 1px solid $comment-border-color;
	margin-bottom: 20px;
}

.comment {
	position: relative;

	@include media($smaller-screen-up) {
		padding-left: 60px;
	}

	header {
		background-color: $comment-header-background-color;
		border-bottom: 1px solid $comment-border-color;
		clear: both;
		font-size: $secondary-font-size;
		padding: 10px 20px;
		position: relative;

		&::before,
		&::after {
			border-color: transparent;
			border-style: solid outset solid;
			content: " ";
			display: block;
			height: 0;
			left: 50%;
			margin-left: -8px;
			pointer-events: none;
			position: absolute;
			right: 50%;
			top: -16px;
			width: 0;

			@include media($smaller-screen-up) {
				border-style: solid solid outset;
				margin: 0;
				left: -16px;
				right: 100%;
				left: -16px;
				top: 11px;
			}
		}

		&::before {
			border-right-color: transparent;
			border-bottom-color: $comment-border-color;
			border-width: 8px;

			@include media($smaller-screen-up) {
				border-right-color: $comment-border-color;
				border-bottom-color: transparent;
			}
		}

		&::after {
			border-right-color: transparent;
			border-bottom-color: $comment-header-background-color;
			border-width: 7px;
			margin-bottom: 0;
			margin-left: -7px;
			top: -14px;

			@include media($smaller-screen-up) {
				border-right-color: $comment-header-background-color;
				border-bottom-color: transparent;
				margin-top: 1px;
				margin-left: 2px;
				top: 11px;
			}
		}

		cite {
			margin-right: 5px;
		}

		.comment-edit-link {
			margin-left: 5px;
		}
	}

	.avatar {
		margin: 0 auto 15px;

		@include media($smaller-screen-up) {
			position: absolute;
			left: 0;
			margin: 0;
		}
	}

	.comment {
		border: 0;
		margin-left: 5px;
		margin-top: 20px;
		padding-bottom: 0;

		@include media($smaller-screen-up) {
			margin-left: -30px;
		}
	}

	.comment:last-child {
		margin-bottom: 0;
	}

	footer {
		padding: 0 20px 20px;
	}

}

.bypostauthor {
	header {
		background-color: $comment-author-header-background-color;

		&::after {
			border-right-color: transparent;
			border-bottom-color: $comment-author-header-background-color;

			@include media($smaller-screen-up) {
				border-right-color: $comment-author-header-background-color;
				border-bottom-color: transparent;
			}
		}
	}
}

.pingback,
.trackback {
	background-color: $comment-background-color;
	border: 1px solid $comment-border-color;
	margin-bottom: 20px;
	padding: 20px 20px 5px;

	@include media($small-screen-up) {
		padding: 30px 30px 15px;
	}
}

.comment-meta {

	a {
		color: $comment-meta-link-color;

		&:hover,
		&:focus {
			color: $comment-meta-link-hover-color;
		}
	}
}

.comment-content {
	clear: both;
	padding: 20px;

	p,
	> ol,
	> ul,
	> dl {
		margin-bottom: 26px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	ol,
	ul {
		margin-left: 40px;
	}

	li {
		margin-bottom: 2%;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	li ol,
	li ul {
		margin-top: 2%;
	}

	blockquote {
		border-left: 7px solid $blockquote-border-color;
		margin: 30px 0 30px 5%;
		padding: 0 5%;
	}

	table {
		background: $comment-table-background-color;
		border-collapse: separate;
		border: 1px solid $table-border-color;
		border-left: 0;
		margin: 20px 0;
		width: 100%;
	}

	table th,
	table td {
		border-left: 1px solid $table-border-color;
		border-top: 1px solid $table-border-color;
		line-height: 1.2;
		padding: 10px;
		text-align: left;
		vertical-align: top;
	}

	table thead:first-child tr:first-child th,
	table tbody:first-child tr:first-child th,
	table tbody:first-child tr:first-child td {
		border-top: 0 none;
	}

	code {
		background: $code-background-color;
		border: 1px solid $code-border-color;
		color: $code-font-color;
		padding: 2px 4px;
	}
}

.comment-respond {

	label {
		display: block;
	}

	.submit {
		display: block;
		width: 100%;

		@include media($small-screen-up) {
			display: inline-block;
			width: auto;
		}
	}
}

.entry-pings .reply {
	display: none;
}

.form-allowed-tags {
	background-color: $allowed-tags-background-color;
	font-size: $secondary-font-size;
	padding: 24px;
}
